In [10]:
import pandas as pd

df = pd.read_csv('C:/Users/Playdata/Desktop/찌르레기/gitproject/datas/train.csv')

df.isna().sum()

ID                          0
Exercise_Duration           0
Body_Temperature(F)         0
BPM                         0
Height(Feet)                0
Height(Remainder_Inches)    0
Weight(lb)                  0
Weight_Status               0
Gender                      0
Age                         0
Calories_Burned             0
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.drop('ID', axis=1, inplace=True)

In [13]:
df

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Weight_Status,Gender,Age,Calories_Burned
0,26.0,105.6,107.0,5.0,9.0,154.3,Normal Weight,F,45,166.0
1,7.0,103.3,88.0,6.0,6.0,224.9,Overweight,M,50,33.0
2,7.0,103.3,86.0,6.0,3.0,218.3,Overweight,M,29,23.0
3,17.0,104.0,99.0,5.0,6.0,147.7,Normal Weight,F,33,91.0
4,9.0,102.7,88.0,5.0,10.0,169.8,Normal Weight,M,38,32.0
...,...,...,...,...,...,...,...,...,...,...
7495,22.0,105.1,104.0,4.0,10.0,112.4,Normal Weight,F,75,151.0
7496,20.0,105.3,104.0,5.0,8.0,147.7,Normal Weight,F,21,114.0
7497,8.0,103.1,90.0,6.0,2.0,202.8,Overweight,M,57,41.0
7498,12.0,104.4,97.0,5.0,9.0,167.6,Overweight,M,35,57.0
7499,16.0,104.9,91.0,5.0,12.0,189.6,Overweight,M,26,59.0

In [16]:
dummy_vars = pd.get_dummies(df[['Weight_Status','Gender']])

In [17]:
df = pd.concat([df, dummy_vars], axis=1)

In [18]:
df

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Weight_Status,Gender,Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M
0,26.0,105.6,107.0,5.0,9.0,154.3,Normal Weight,F,45,166.0,1,0,0,1,0
1,7.0,103.3,88.0,6.0,6.0,224.9,Overweight,M,50,33.0,0,0,1,0,1
2,7.0,103.3,86.0,6.0,3.0,218.3,Overweight,M,29,23.0,0,0,1,0,1
3,17.0,104.0,99.0,5.0,6.0,147.7,Normal Weight,F,33,91.0,1,0,0,1,0
4,9.0,102.7,88.0,5.0,10.0,169.8,Normal Weight,M,38,32.0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,22.0,105.1,104.0,4.0,10.0,112.4,Normal Weight,F,75,151.0,1,0,0,1,0
7496,20.0,105.3,104.0,5.0,8.0,147.7,Normal Weight,F,21,114.0,1,0,0,1,0
7497,8.0,103.1,90.0,6.0,2.0,202.8,Overweight,M,57,41.0,0,0,1,0,1
7498,12.0,104.4,97.0,5.0,9.0,167.6,Overweight,M,35,57.0,0,0,1,0,1
7499,16.0,104.9,91.0,5.0,12.0,189.6,Overweight,M,26,59.0,0,0,1,0,1

In [21]:
df.drop(columns=['Weight_Status', 'Gender'], inplace=True)

In [22]:
df

,Exercise_Duration,Body_Temperature(F),BPM,Height(Feet),Height(Remainder_Inches),Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M
0,26.0,105.6,107.0,5.0,9.0,154.3,45,166.0,1,0,0,1,0
1,7.0,103.3,88.0,6.0,6.0,224.9,50,33.0,0,0,1,0,1
2,7.0,103.3,86.0,6.0,3.0,218.3,29,23.0,0,0,1,0,1
3,17.0,104.0,99.0,5.0,6.0,147.7,33,91.0,1,0,0,1,0
4,9.0,102.7,88.0,5.0,10.0,169.8,38,32.0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,22.0,105.1,104.0,4.0,10.0,112.4,75,151.0,1,0,0,1,0
7496,20.0,105.3,104.0,5.0,8.0,147.7,21,114.0,1,0,0,1,0
7497,8.0,103.1,90.0,6.0,2.0,202.8,57,41.0,0,0,1,0,1
7498,12.0,104.4,97.0,5.0,9.0,167.6,35,57.0,0,0,1,0,1
7499,16.0,104.9,91.0,5.0,12.0,189.6,26,59.0,0,0,1,0,1

In [23]:
# create a new column 'Height (inches)' by multiplying 'Height(Feet)' by 12 and adding 'Height(Remainder_Inches)'
df['Height (inches)'] = df['Height(Feet)'] * 12 + df['Height(Remainder_Inches)']

# drop the original columns 'Height(Feet)' and 'Height(Remainder_Inches)'
df.drop(columns=['Height(Feet)', 'Height(Remainder_Inches)'], inplace=True)

In [24]:
df

,Exercise_Duration,Body_Temperature(F),BPM,Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M,Height (inches)
0,26.0,105.6,107.0,154.3,45,166.0,1,0,0,1,0,69.0
1,7.0,103.3,88.0,224.9,50,33.0,0,0,1,0,1,78.0
2,7.0,103.3,86.0,218.3,29,23.0,0,0,1,0,1,75.0
3,17.0,104.0,99.0,147.7,33,91.0,1,0,0,1,0,66.0
4,9.0,102.7,88.0,169.8,38,32.0,1,0,0,0,1,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7495,22.0,105.1,104.0,112.4,75,151.0,1,0,0,1,0,58.0
7496,20.0,105.3,104.0,147.7,21,114.0,1,0,0,1,0,68.0
7497,8.0,103.1,90.0,202.8,57,41.0,0,0,1,0,1,74.0
7498,12.0,104.4,97.0,167.6,35,57.0,0,0,1,0,1,69.0
7499,16.0,104.9,91.0,189.6,26,59.0,0,0,1,0,1,72.0

In [25]:
df['BMI'] = (df['Weight(lb)'] / (df['Height (inches)'] ** 2)) * 703

In [26]:
df

,Exercise_Duration,Body_Temperature(F),BPM,Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M,Height (inches),BMI
0,26.0,105.6,107.0,154.3,45,166.0,1,0,0,1,0,69.0,22.783638
1,7.0,103.3,88.0,224.9,50,33.0,0,0,1,0,1,78.0,25.986966
2,7.0,103.3,86.0,218.3,29,23.0,0,0,1,0,1,75.0,27.282649
3,17.0,104.0,99.0,147.7,33,91.0,1,0,0,1,0,66.0,23.836800
4,9.0,102.7,88.0,169.8,38,32.0,1,0,0,0,1,70.0,24.361102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,22.0,105.1,104.0,112.4,75,151.0,1,0,0,1,0,58.0,23.489061
7496,20.0,105.3,104.0,147.7,21,114.0,1,0,0,1,0,68.0,22.455255
7497,8.0,103.1,90.0,202.8,57,41.0,0,0,1,0,1,74.0,26.035135
7498,12.0,104.4,97.0,167.6,35,57.0,0,0,1,0,1,69.0,24.747490
7499,16.0,104.9,91.0,189.6,26,59.0,0,0,1,0,1,72.0,25.711574

In [27]:
df['TBSA'] = 0.20247 * (df['Height (inches)'] ** 0.725) * (df['Weight(lb)'] ** 0.425)

In [28]:
df['Body_Fat_Percentage'] = (1.2 * df['BMI']) + (0.23 * df['Age']) - (10.8 * (1 - df['Gender_F'])) - 5.4

In [29]:
df['RMR'] = (10 * df['Weight(lb)']) + (6.25 * df['Height (inches)']) - (5 * df['Age']) + 5

In [30]:
df

,Exercise_Duration,Body_Temperature(F),BPM,Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M,Height (inches),BMI,TBSA,Body_Fat_Percentage,RMR
0,26.0,105.6,107.0,154.3,45,166.0,1,0,0,1,0,69.0,22.783638,37.117763,32.290365,1754.25
1,7.0,103.3,88.0,224.9,50,33.0,0,0,1,0,1,78.0,25.986966,47.612917,26.484359,2491.50
2,7.0,103.3,86.0,218.3,29,23.0,0,0,1,0,1,75.0,27.282649,45.695974,23.209179,2511.75
3,17.0,104.0,99.0,147.7,33,91.0,1,0,0,1,0,66.0,23.836800,35.279039,30.794160,1729.50
4,9.0,102.7,88.0,169.8,38,32.0,1,0,0,0,1,70.0,24.361102,39.064321,21.773322,1950.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,22.0,105.1,104.0,112.4,75,151.0,1,0,0,1,0,58.0,23.489061,28.603664,40.036873,1116.50
7496,20.0,105.3,104.0,147.7,21,114.0,1,0,0,1,0,68.0,22.455255,36.050920,26.376306,1802.00
7497,8.0,103.1,90.0,202.8,57,41.0,0,0,1,0,1,74.0,26.035135,43.858882,28.152162,2210.50
7498,12.0,104.4,97.0,167.6,35,57.0,0,0,1,0,1,69.0,24.747490,38.445254,21.546988,1937.25
7499,16.0,104.9,91.0,189.6,26,59.0,0,0,1,0,1,72.0,25.711574,41.783810,20.633889,2221.00

In [36]:
from sklearn.preprocessing import MinMaxScaler

# create a scaler object
scaler = MinMaxScaler()

# fit and transform the data, excluding the "Calories_Burned" column
df_scaled = df.drop(columns=['Calories_Burned'])
df_scaled = scaler.fit_transform(df_scaled)

# create a new dataframe with the scaled data
df_scaled = pd.DataFrame(df_scaled, columns=df.columns[:-1])
df_scaled['Calories_Burned'] = df['Calories_Burned']

In [37]:
df_scaled

,Exercise_Duration,Body_Temperature(F),BPM,Weight(lb),Age,Calories_Burned,Weight_Status_Normal Weight,Weight_Status_Obese,Weight_Status_Overweight,Gender_F,Gender_M,Height (inches),BMI,TBSA,Body_Fat_Percentage
0,0.862069,0.860759,0.644068,0.353970,0.423729,166.0,0.0,0.0,1.0,0.0,0.552632,0.330026,0.423543,0.588680,0.370615
1,0.206897,0.569620,0.322034,0.687618,0.508475,33.0,0.0,1.0,0.0,1.0,0.789474,0.653846,0.727531,0.387796,0.680319
2,0.206897,0.569620,0.288136,0.656427,0.152542,23.0,0.0,1.0,0.0,1.0,0.710526,0.784825,0.672007,0.274477,0.688826
3,0.551724,0.658228,0.508475,0.322779,0.220339,91.0,0.0,0.0,1.0,0.0,0.473684,0.436489,0.370286,0.536913,0.360218
4,0.275862,0.493671,0.322034,0.427221,0.305085,32.0,0.0,0.0,0.0,1.0,0.578947,0.489490,0.479925,0.224798,0.453056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.724138,0.797468,0.593220,0.155955,0.932203,151.0,0.0,0.0,1.0,0.0,0.263158,0.401336,0.176936,0.856705,0.102710
7496,0.655172,0.822785,0.593220,0.322779,0.016949,114.0,0.0,0.0,1.0,0.0,0.526316,0.296830,0.392643,0.384058,0.390674
7497,0.241379,0.544304,0.355932,0.583176,0.627119,41.0,0.0,1.0,0.0,1.0,0.684211,0.658716,0.618797,0.445501,0.562277
7498,0.379310,0.708861,0.474576,0.416824,0.254237,57.0,0.0,1.0,0.0,1.0,0.552632,0.528549,0.461994,0.216967,0.447490
7499,0.517241,0.772152,0.372881,0.520794,0.101695,59.0,0.0,1.0,0.0,1.0,0.631579,0.626007,0.558693,0.185374,0.566688

In [38]:
df_scaled.to_csv('train_scaled.csv', index=False)

In [39]:
from sklearn.linear_model import LinearRegression

# Assuming that your scaled data is stored in a variable called df_scaled
X = df_scaled.drop('Calories_Burned', axis=1)  # Remove the target variable
y = df_scaled['Calories_Burned']  # Target variable

# Create an instance of the linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X, y)

LinearRegression()

In [89]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

X = df.drop(['Calories_Burned'], axis=1)
y = df['Calories_Burned']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=100)

In [90]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [91]:
y_pred = linreg.predict(X_test)

In [92]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print('Root mean squared error:', rmse)

Root mean squared error: 10.707146291872315